<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/ProjectMain.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="../js/jquery-3.7.0.min.js"></script>
	<title>Document</title>
</head>

<body>
	<div>
		<th:block th:replace=" ${session.user_role} == 'ROLE_ADMIN' ? ~{/include/layout_admin :: setContent(~{ :: #container})} : ~{/include/layout_engineer :: setContent(~{ :: #container})}">


		<div id='container'>
			<div class='searchArea'>
				<div class='searchBar'>
					<form action="projectMain" method="get" id="pjtSearch">
				</div>
				<div class="filterArea">
						<div class='searchFilterArea'>
							<div class='upperSearchBar'>
								<span>프로젝트 이름 : </span><input type='text' name="pjt_nm" class="pjt_nm"/>
							</div>
							<div class='server_id'>
								<span>서버 종류 : </span>
								<select name='server_type'>
									<option value="none">서버를 선택하세요</option>
									<option value="web">웹 서버</option>
									<option value="app">어플리케이션 서버</option>
									<option value="proxy">프록시 서버</option>
									<option value="mail">메일 서버</option>
									<option value="db">데이터베이스 서버</option>
									<option value="file">파일 서버</option>
								</select>
							</div>
							<div class='pjt_end_dt'>
								<span>마감일 : </span><input type='date' name='pjt_end_dt' />
							</div>
							<div class='ins_user_id'>
								<span>담당자 : </span><input type='text' placeholder='담당자를 입력하세요' name='ins_user_id' />
							</div>
							<div class='filterSubmit'>
								<a class="submitBtn">검색</a>
								<a href="/project/projectMain" class="resetBtn">초기화</a>
								<a data-bs-toggle="modal" data-bs-target="#reqProjectListModal" class="createBtn" th:hidden="${session.user_role} != 'ROLE_ADMIN'">승인 대기</a>
							</div>
						</div>
					</form>
				</div>

			</div>



			<div class='projectArea'>
				<th:block th:each="vo : ${pList}">
					<th:block th:if="${vo.created_yn} == 1">


						<div class='projectBoxContainer'>
							<form action="getDetail" method="get" th:id="getDetail + ${vo.pjt_id}">

								<input type="hidden" th:value="${vo.pjt_id}" name="pjt_id">
								<div th:class='projectBox'>
									<div class='upperBox'>
										<div th:class="${vo.server_type}">
											<p class='projectName'>[[${vo.pjt_nm}]]</p>
											<p class='typeOfServer'>[[${vo.server_model}]]</p>
										</div>
									</div>
									<div class='lowerBox'>
										<div style="margin: 30px 0; padding: 0 10px;">
											<div class='lowerBoxLeft'>
												<p class='companyName'>[[${vo.user_group}]]</p>
												<p class='projectManager'>담당자 : [[${vo.user_nm}]]</p>
											</div>
											<div class='lowerBoxRight'>
												<p class='projectStatus'>[[${vo.status == 0 ? '진행예정' : vo.status == 1 ?
													'진행중' :
													'완료'}]]</p>
											</div>
										</div>
										<div>
											<p class='projectPeriod'>마감일 : [[${vo.pjt_end_dt}]]</p>
										</div>
									</div>
								</div>
							</form>
						</div>
					</th:block>
				</th:block>
			</div>
			
			<div class="pageNationArea">
				<ul>
					<li th:each="pagelist : ${pageVO.pageList}" class="pages">
						<a th:href="@{projectMain(page=${pagelist},
												  server_type=${pageVO.cri.server_type},
												  ins_user_id=${pageVO.cri.ins_user_id},
												  pjt_end_dt=${pageVO.cri.pjt_end_dt},
												  pjt_nm=${pageVO.cri.pjt_nm})}" th:id="${pagelist} + page">[[${pagelist}]]</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	</div>

	<div class="modalArea">
		<div class="modal fade" id="reqProjectListModal" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">승인 대기 목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="projectListContainer">
							<table class="projectListTable">
								<thead>
									<tr style="border-bottom: 1px solid black; margin-bottom: 20px;">
										<th>고객사</th>
										<th>프로젝트명</th>
										<th>서버 분류</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="reqPVO : ${reqPList}">
										<th:block th:if="${reqPVO.created_yn} == 0">
											<td>[[${reqPVO.user_group}]]</td>
											<td>[[${reqPVO.pjt_nm}]]</td>
											<td>[[${reqPVO.server_model}]]</td>
											<td style="padding-left: 30px;"><a class="projectCreateBtn"
													th:href="@{projectCreate(pjt_id=${reqPVO.pjt_id})}">생성</a></td>
										</th:block>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	</th:block>

	<script th:inline="javascript">
		
		
		var pageId = [[${pageVO.page}]] + "page";
		
		
		var currPage = document.getElementById(pageId);
		
		console.log(currPage);
		window.onload = function(){
			
			currPage.parentElement.classList.add('pageOn');
			
		}

		var toggleFilter = document.querySelector(".toggleFilter");
		var filterArea = document.querySelector(".filterArea");

		// toggleFilter.addEventListener('click', (e) => {
		//   filterArea.classList.toggle("hidden");
		// })

		// 필터 열고닫기
		$('.toggleFilter').click((e) => {
			$('.filterArea').toggleClass('hidden');
		})


		$('.projectBox').click((e) => {
			e.currentTarget.parentElement.submit();
		})


		var searchNameSubmit = () => {
			$('#searchName').submit();
		}
		
		
		$('.submitBtn').click(function(){
			$('#pjtSearch').submit();
		})


	</script>

</body>