<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/customer_questionDetail.css}">

<!-- 권한별 페이지 처리 -->
<th:block th:if="${session.user_role == 'ROLE_CUSTOMER'} or ${session.user_role} == null">
    <th:block th:replace="~{./include/layout_customer :: setContent(~{:: .wrap})}"></th:block>
</th:block>

<th:block th:if="${session.user_role == 'ROLE_ADMIN'}">
    <th:block th:replace="~{./include/layout_admin :: setContent(~{:: .wrap})}">
</th:block>

<th:block th:if="${session.user_role == 'ROLE_ENGINEER'}">
    <th:block th:replace="~{./include/layout_engineer :: setContent(~{:: .wrap})}">
</th:block>
	<!-- Section-->
	
<div class="wrap">
	<div th:if="${session.user_role == 'ROLE_CUSTOMER'}">
			<div class="col-lg-12 subtop_wrap">
				<div class="col-lg-8 subtop">
					<h1 class="page_header">Q & A
						<div class="sub_text">우리 서버에게 묻고 답하기</div>
					</h1>
				</div>
			</div>
		</div>
	<th:block th:if="${session.user_role != 'ROLE_CUSTOMER'}">
		<div class="col-lg-9 detail_container" style="margin:-59px 112px !important;">
	</th:block>
	<th:block th:unless="${session.user_role != 'ROLE_CUSTOMER'}">
		<div class="col-lg-8 detail_container">
	</th:block>
		<div class="q_detail">
			<div class="q_detail_header">
				<header>
					<h2>[[${vo.post_title}]]</h2>
					<div class="q_info">
						<div class="q_info_d">
							<p style="margin-bottom: 0;">작성자 </p>
						</div>
						<div class="q_info_d">

							<p style="margin-bottom: 0;">[[${vo.user_id}]]</p>
						</div>

						<div class="q_info_d">
							<p style="margin-bottom: 0;"> | 작성일 </p>
						</div>

						<div class="q_info_d">
							<p style="margin-bottom: 0;">[[${#temporals.format(vo.post_regdate, 'YYYY-MM-dd')}]]</p>

						</div>

						<div class="q_info_d">
							<p style="margin-bottom: 0;"> | 조회수 </p>

						</div>
						<div class="q_info_d">

							<p style="margin-bottom: 0;">[[${vo.post_hits}]]</p>
						</div>
					</div>
				</header>
			</div>
		</div>

		<div class="q_body" style="min-height: 500px;">
			<div class="content">

				[[${vo.post_title}]]
			</div>

		</div>
		
		<script th:inline="javascript">


			$(document).ready(function () {

				$('.goto_delete_btn').click(function (e) {

					document.goto.action = "deleteQ";
					document.goto.submit();

				})


				$('.goto_modify_btn').click(function (e) {

					document.goto.action = "modifyQ";
					document.goto.submit();

				})



			})

		</script>

				

		<form name="goto" action="" method="post" id="formObj">
			<div class="goto_list">
				<th:block th:if="${session.user_role} == 'ROLE_CUSTOMER'">
					<button class="goto_modify_btn">수정</button>
					<button class="goto_delete_btn">삭제</button>
					<input type="hidden" name="post_id" th:value="${vo.post_id}" id="postno">
					<a><button type="button" class="goto_list_btn" th:onclick="|location.href='@{customer_question}'|">목록</button></a>
				</th:block>
				
				<th:block th:if="${session.user_role} != 'ROLE_CUSTOMER' and ${session.user_role} != null">
					<a><button class="goto_reply_btn">답변 달기</button></a>
					<a><button type="button" class="goto_list_btn" th:onclick="|location.href='@{customer_question}'|">목록</button></a>
				</th:block>	
				
				<th:block th:if="${session.user_role} == null">
				<a><button type="button" class="goto_list_btn" th:onclick="|location.href='@{customer_question}'|">목록</button></a>
				</th:block>
			</div>
		</form>
	</div>
	
	
	


</html>