<html xmlns:th="http://www.thymeleaf.org">


<!-- customer_news -->
<link rel="stylesheet" th:href="@{/css/customer_news.css}" />


<th:block th:replace="~{./include/layout_customer :: setContent(~{:: .wrap})}">
	<div class="wrap">
		<div class="col-lg-12 subtop_wrap">
			<div class="col-lg-8 subtop">
				<h1 class="page_header">새 소식
					<div class="sub_text">우리 서버에서 제공하는 다양한 소식을 전해드립니다.</div>
				</h1>
			</div>
		</div>

		<div class="col-lg-8 news_list_wrap">
			<div class="search">
				
				<div class="total_num">
						총
					<span>[[${npageVO.total}]]</span>
						건의 게시물 (
					<span>[[${npageVO.page}]]</span> / 
					<th:block th:with="result=${T(java.lang.Math).ceil(npageVO.total.doubleValue() / npageVO.amount.doubleValue())}">
					<span th:text="${result.intValue()}"></span> pages )
					</th:block>

				</div>
				<form name="newsForm" action="customer_news" method="get">
					<select name="searchType" style="font-size: 14px;" id="searchType">
						<option value="none" selected>선택</option>
						<option value="searchTitle"   th:selected="${npageVO.cri.searchType} == 'searchTitle'">제목</option>
						<option value="searchContents"  th:selected="${npageVO.cri.searchType} == 'searchContents'">내용</option>
					</select>
					<input name="searchKeyword" class="keyword" type="text" placeholder="검색할 키워드를 입력해주세요" th:value="${npageVO.cri.searchKeyword}">
					<button class="search_btn">검색</button>
				</form>
				
				
			</div>
			<table class="news_list">
				<thead>
					<tr>
						<th>No.</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vo,status : ${list}">
						<td>[[${status.count}]]</td>
						<td class="title">
							<a th:href="@{customer_detail(post_id=${vo.post_id}, searchType=${npageVO.cri.searchType}, searchKeyword=${npageVO.cri.searchKeyword} )}">[[${vo.post_title}]]</a>
						</td>
						
						<td>[[${vo.user_id}]]</td>
						<td>[[ ${ #temporals.format(vo.post_regdate, 'yyyy-MM-dd')}]]</td>
						<td>[[${vo.post_hits}]]</td>
						<tr>
							<td colspan="6"  th:if="${#lists.isEmpty(list)}">검색 결과가 없습니다.</td>
						</tr>
					</tr>
					
				</tbody>

			</table>

			<th:block th:replace="~{./include/newsPage :: pageNation (${npageVO})}"></th:block>
	</div>


<script th:inline="javascript">
	
	//검색 기능
	const search_btn = document.querySelector(".search_btn");
	const keyword = document.querySelector(".keyword");
	
	search_btn.addEventListener('click', (e) => {
		
		//console.log(keyword.value);
		//console.log($('#searchType').val() == 'none');
		
		if(keyword.value == '' ){
			
			alert('검색할 키워드를 입력해주세요');
			
		} else if( $('#searchType').val() == 'none'){
			
			alert('검색할 유형을 선택해주세요');
			
		} else {
		
		e.preventDefault();	
		document.newsForm.submit();
			
		}
			
	})
	
	
	
	
</script>

</th:block>

</html>