<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="setContent(content)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>서버관리</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href=@{/css/layout_customer.css} rel="stylesheet" />

    <link rel="stylesheet" type="text/css" th:href=@{/css/detail.css} />
    <link rel="stylesheet" th:href=@{/css/main.css}>
    <link rel="stylesheet" type="text/css" th:href=@{/css/index.css} />
    <link rel="stylesheet" type="text/css" th:href=@{/css/jquery-ui.min.css} />
    <!-- Custom fonts for this template -->
    <link th:href=@{/vendor/fontawesome-free/css/all.min.css} rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href=@{/css/sb-admin-2.min.css} rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href=@{/vendor/datatables/dataTables.bootstrap4.min.css} rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script th:src=@{/vendor/jquery/jquery.min.js}></script>
    <script th:src=@{/vendor/bootstrap/js/bootstrap.bundle.min.js}></script>

    <!-- Core plugin JavaScript-->
    <script th:src=@{/vendor/jquery-easing/jquery.easing.min.js}></script>

    <!-- Custom scripts for all pages-->
    <!--<script src="js/sb-admin-2.min.js"></script>-->

    <!-- Page level plugins -->
    <script th:src=@{/vendor/datatables/jquery.dataTables.min.js}></script>
    <script th:src=@{/vendor/datatables/dataTables.bootstrap4.min.js}></script>

    <!-- Page level custom scripts -->
    <!-- <script src="js/demo/datatables-demo.js"></script>-->
    <script th:src=@{/js/jquery-1.12.1.min.js}></script>
    <script th:src=@{/js/jquery-ui.min.js}></script>
    <script th:src=@{/js/style.js}></script>

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <img th:src=@{/img/logo.png} style="width: 30px; height: 30px;">
            <a class="navbar-brand" href="#!">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" style="font-size: 18px;">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"style="font-size: 18px;">작업 조회</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 18px;">작업 관리</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">일정 조회</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#!">프로젝트 신청</a></li>
                            <li><a class="dropdown-item" href="#!">작업 신청</a></li>
                        </ul>
                    </li>
                    
                </ul>

                 <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Topbar -->
                        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top" style="border-radius: 20px;">
                            <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw" id="popOn" style="color:rgb(128, 128, 128); font-size: 30px;"></i>
                                <!-- Counter - Alerts -->
                                <span id="notiCount" class="badge badge-danger badge-counter" th:value="${count}"></span>
                            </a>
                            <style>
								/* 임의의 영역 생성 */
								.scrollBar { 
								  width: 320px;
								  height: 500px;
								  overflow-y: scroll;
								}
								
								/* 아래의 모든 코드는 영역::코드로 사용 */
								.scrollBar::-webkit-scrollbar {
								    width: 10px;  /* 스크롤바의 너비 */
								}
								
								.scrollBar::-webkit-scrollbar-thumb {
								    height: 30%; /* 스크롤바의 길이 */
								    background: rgb(192, 192, 192); /* 스크롤바의 색상 */
								    
								    border-radius: 10px;
								}
								
								.scrollBar::-webkit-scrollbar-track {
								    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
								}
								
								.close {
									font-size: 15px;
								}
							</style>
                            
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header" style="font-size: 15px;">
                                    Notification
                                </h6>
                                <div class="scrollBar">
	                                <div id="unRead">
										<div style="padding: 5px 20px; color: black; font-size: 15px; font-weight:bold; background-color: aliceblue;">안읽음</div>
	                                	<div id="unReadList">
	                                	</div>
	                                </div>
	                                <div id="read">
										<div style="padding: 5px 20px; color: black; font-size: 15px; font-weight:bold; background-color: aliceblue;">읽음</div>
	                                	<div id="readList">
	                                	</div>
	                                </div>
                                </div>
                                <div class="dropdown-item text-center close">닫기</div>
                            </div>
                        </li>
                                <div class="topbar-divider d-none d-sm-block"></div>


                <form class="d-flex">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div style="text-align: center;">
                            <img class="img-profile rounded-circle" th:src=@{/img/undraw_profile.svg}>
                        </div>
                            <div class="mr-2 d-none d-lg-inline text-gray-600 small">장윤정 <br/>(CUSTOMER)</div>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown" >
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                내 문의
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->

    <!-- Section-->
    <section class="py-5" style="height: 1000px;">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">

                </div>
	
            </div>

        </div>

    </section>
    
    <!--본문 영역-->
	<div th:replace="${content}">
	</div>
    
    
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!--<script th:src=@{js/scripts.js}></script>-->
</body>
<script th:inline="javascript">
	
	var rcv = "CUSTOMER";

 function chkNotification(noti_id) {
					$.ajax({
						url : "../getReadChk",
						method : "post",
						contentType : "application/json",
						data : JSON.stringify({noti_id : noti_id}),
						success : function(response) {
							//$("#dropdown-list").load("../notification/engineer #dropdown-list")
							$.ajax({
								url : "../getNotiCount",
								type : "post",
								contentType : "application/json",
								data : JSON.stringify({rcv_id : rcv}),
								success : function(data) {
									if(data > 0) {
									$("#notiCount").html(data);
									} else {
										$("#notiCount").hide();
									}
								},
								error : function(status, error) {
									console.log(status)
								}		
							});
							
						},
						error : function(status, error) {
							console.log(error);
						}
					})
				}


	$.ajax({
		url : "../getNotiCount",
		type : "post",
		contentType : "application/json",
		data : JSON.stringify({rcv_id : rcv}),
		success : function(data) {
			if(data > 0) {
			$("#notiCount").html(data);
			} else {
				$("#notiCount").hide();
			}
			
		
		},
		error : function(status, error) {
			console.log(status)
		}		
	});
	
	$("#popOn").click(function(){
		
		$.ajax({
			url : "../getUnReadList",
			type : "post",
			contentType : "application/json",
			data : JSON.stringify({rcv_id : rcv}),
			success : function(data) {
				var str = '';
				if(data.length !== 0) {				
				for(var i = 0; i < data.length; i++) {
				str += '<div class="dropdown-item d-flex align-items-center check" data-noti-id="' + data[i].noti_id + '">';
                str += '<div>';
				str += '<div class="font-weight-bold">' + data[i].send_id +'&nbsp;</div>';
				str += '<div class="font-weight-bold" style="font-size:15px;">' + data[i].noti_nm +'&nbsp;</div>';
                str += '<span class="small text-gray-500">' + data[i].noti_send_dt + '</span>';
                str += '<div class="font-weight-bold">'+ data[i].noti_dtl +'</div>';
                str += '</div>';
                str += '</div>';
                }
                
                $("#unReadList").html(str);                               
                
                } else {
					str += '<div style="text-align: center; line-height:40px; height:40px;">새로운 알림 없음</div>'
					$("#unReadList").html(str); 
				}
             	
             	$(".check").on("click", function () {
				   	event.stopPropagation();
				   	var noti_id = $(this).data("noti-id");
				  	chkNotification(noti_id);
				   	
				   	//$("#unReadList").html("");
				   	//$("#readList").html("");
				  
				 	$(event.currentTarget).children().first().children().removeClass("font-weight-bold");			 
				  	
				  	//location.reload();
				  	
		        });
	
			},
			error : function(status, error) {
				console.log(status);
			}

	});	
		$.ajax({
			url : "../getReadList",
			type : "post",
			contentType : "application/json",
			data : JSON.stringify({rcv_id : rcv}),
			success : function(data) {
				var str = '';
				
				for(var i = 0; i < data.length; i++) {
					str += '<div class="dropdown-item d-flex align-items-center check" data-noti-id="' + data[i].noti_id + '">'
	                str += '<div>';
					str += '<div>' + data[i].send_id + '&nbsp;</div>';
					str += '<div style="font-size:15px;">' + data[i].noti_nm + '&nbsp;</div>';
                    str += '<span class="small text-gray-500">' + data[i].noti_send_dt + '</span>';
                    str += '<div>' + data[i].noti_dtl + '</div>';
	                str += '</div>';
	            	str += '</div>';
				}
				
				$("#readList").html(str);
			},
			error : function(status, error) {
				console.log(status, error);
			}
		});
	});
	
	 
</script>
</html>