<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="notification">

	<style>
		/* 임의의 영역 생성 */
		.scrollBar {
			width: 320px;
			height: 500px;
			overflow-y: scroll;
		}

		/* 아래의 모든 코드는 영역::코드로 사용 */
		.scrollBar::-webkit-scrollbar {
			width: 10px;
			/* 스크롤바의 너비 */
		}

		.scrollBar::-webkit-scrollbar-thumb {
			height: 30%;
			/* 스크롤바의 길이 */
			background: rgb(192, 192, 192);
			/* 스크롤바의 색상 */

			border-radius: 10px;
		}

		.scrollBar::-webkit-scrollbar-track {
			background: rgba(33, 122, 244, .1);
			/*스크롤바 뒷 배경 색상*/
		}

		.close {
			font-size: 15px;
			cursor: pointer;
		}

		.del_img:hover {
			background-color: black;
		}

		.pulse {
			animation: pulse-animation 1s infinite
		}

		@keyframes pulse-animation {
			0% {
				box-shadow: 0 0 0 0px rgb(255, 0, 0, 0.2);
			}

			100% {
				box-shadow: 0 0 0 20px rgb(255, 0, 0, 0);
			}
		}

		#unReadTitle,
		#readTitle {
			position: sticky;
			top: 0;
			z-index: 500;

		}
		
		.dropdownContent{
			display: block;
		}
	</style>


	<!-- Nav Item - Alerts -->
	<li class="nav-item no-arrow mx-1">
		<a class="nav-link popOn" href="javascript:void(0);" id="alertsDropdown"
			aria-haspopup="true" style="border-radius: 50%;">
			<i class="fas fa-bell fa-fw" style="color:rgb(128, 128, 128); font-size: 30px;"></i>
			<!-- Counter - Alerts -->
			<span id="notiCount" class="badge badge-danger badge-counter pulse" th:value="${count}"></span>
		</a>

		<!-- Dropdown - Alerts -->
		<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
			aria-labelledby="alertsDropdown" id="dropdownContent">
			<h6 class="dropdown-header" style="font-size: 15px;">
				Notification
			</h6>
			<div class="scrollBar" style="position: relative;">
				<div id="unRead">
					<div style="padding: 5px 10px; color: black; font-size: 15px; font-weight:bold; background-color: aliceblue;"
						id="unReadTitle">
						안읽음<span id="notiCountt"></span> <button class="btn btn-light btn-sm " id="readAll"
							style="margin-left:80px">모두 읽음 처리</button></div>
					<div id="unReadList">
					</div>
				</div>
				<div id="read">
					<div style="padding: 5px 10px; color: black; font-size: 15px; font-weight:bold; background-color: aliceblue;"
						id=readTitle>
						읽음</div>
					<div id="readList">
					</div>
					<div>
						<div style="text-align: center; margin: 10px;">최근 3일 동안 받은 알림을 모두
							확인했습니다</div>
						<div style="text-align: center; margin-bottom:20px">
							<a href="#" id="notiPopUp">받은 알림함 가기</a>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown-item text-center closenoti">닫기</div>
		</div>
	</li>


	<script th:inline="javascript">

		var rcv = /*[[${session.user_id}]]*/ '';

		var contextPath = /*[[${#httpServletRequest.contextPath}]]*/ '';


		function notiCount() {
			$.ajax({
				url: contextPath + "/getNotiCount",
				type: "post",
				contentType: "application/json",
				data: JSON.stringify({rcv_id: rcv}),
				success: function (data) {

					var unReadCategory = data.filter(function (categorys) {
						return categorys.category === 'unread';
					});

					var unReadCount = unReadCategory.length == 0 ? 0 : unReadCategory[0].count;

					if (unReadCount > 10) {
						$("#notiCount").html("10+");
					} else if (unReadCount > 0) {
						$("#notiCount").html(unReadCount);
					} else {
						$("#notiCount").hide();
					}

					$("#notiCountt").html('&nbsp;( ' + unReadCount + ' )&nbsp;');

				},
				error: function (status, error) {
					console.log(status)
				}
			});
		};

		function chkNotification(noti_id) {
			$.ajax({
				url: contextPath + "/getReadChk",
				method: "post",
				contentType: "application/json",
				data: JSON.stringify({noti_id: noti_id}),
				success: function (response) {
					notiCount();
				},
				error: function (status, error) {
					console.log(error);
				}
			})
		}

		$(function () {
			notiCount();

			$('#notiPopUp').click(function () {

				var width = 600;
				var height = 700;

				var left = $(window).width() / 3;
				var top = $(window).height() / 5;

				var windowStatus = 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', toolbar=no,location=no,status=no,menubar=no,scrollbars=no';
				
				const url = '/notification/notificationPopUp';

				window.open(url, '_blank', windowStatus);
				
				$('#dropdownContent').toggleClass('dropdownContent');
			});


			$(".popOn").click(function () {
				
				$('#dropdownContent').toggleClass('dropdownContent');
				
				$('.scrollBar').animate({scrollTop: 0}, 'slow');

				$.ajax({
					url: contextPath + "/getList",
					type: "post",
					contentType: "application/json",
					data: JSON.stringify({rcv_id: rcv}),
					success: function (data) {

						var str = '';
						var str2 = '';
						var count = 0;

						for (var i = 0; i < data.length; i++) {
							let row = data[i];

							if (row.pre_noti_id == 1 && row.num >= 1 && row.num <= 3) {
								str +=
									`
				                <div class="dropdown-item d-flex justify-content-between delete" style="cursor: pointer;" > 
									<div class="check" data-noti-id="${row.noti_id}">                                                                                              
										<div class="font-weight-bold">${row.send_id}&nbsp;</div>                                   
										<div class="font-weight-bold" style="font-size:15px;">${row.noti_nm}&nbsp;${row.noti_id}</div>           
										<span class="small text-gray-500">${row.noti_send_dt}</span>                              
										<div class="font-weight-bold">${row.noti_dtl}</div>
									</div>
									<div style="margin-top: 10px">
					                    <a href="javascript:void(0);">
					                    	<i class="fas fa-trash-alt del_btn" style="color:rgb(128, 128, 128); font-size: 20px;"></i>
					                    </a>
				                    </div>                                                                                               
								</div>                                                                                             
				                `;
								count++

								if (row.num % 3 == 0 && i < row.count_pre_noti - 1) {
									str += '<div class="btn btn-info btn-block load" style="border-radius:0">더보기</div>';
								}
							}

							else if (row.pre_noti_id == 2) {
								str2 +=
									`
							<div class="dropdown-item d-flex justify-content-between delete">
				                <div class="check" data-noti-id="${row.noti_id}">
									<div>${row.send_id}&nbsp;</div>
									<div style="font-size:15px;">${row.noti_nm}&nbsp;${row.noti_id}</div>
				                    <span class="small text-gray-500">${row.noti_send_dt}</span>
				                    <div>${row.noti_dtl}</div>
				                </div>
				                <div style="margin-top: 10px">
				                    <a href="javascript:void(0);">
				                    	<i class="fas fa-trash-alt del_btn" style="color:rgb(128, 128, 128); font-size: 20px;"></i>
				                    </a>
			                    </div>
			            	</div>
		            	`;

							}
						}

						$("#unReadList").html(str);
						$("#readList").html(str2);

						if (data[0].pre_noti_id == 2) {
							$("#readAll").remove();
							$("#noMore").remove();
							$("#unReadList").html('<div style="text-align: center; margin: 10px;">확인할 새로운 알림이 없습니다</div>');
						}

						$("#readAll").on('click', function () {
							event.stopPropagation();
							$.ajax({
								url: contextPath + "/markAllAsRead",
								type: "post",
								contentType: "application/json",
								data: JSON.stringify({rcv_id: rcv}),
								success: function (data) {

								},
								error: function (status, error) {
									console.log(status);
								}

							});

							$("#notiCount").html('');
							$("#notiCountt").html('&nbsp;( 0 )&nbsp;');
							$("#noMore").remove();
							$("#unReadList").html('<div style="text-align: center; margin: 10px;">확인할 새로운 알림이 없습니다</div>');
							$("#readAll").remove();


						});

						var start = 1;
						var end = 3;

						$(".load").on('click', function () {

							event.stopPropagation();

							start = end + 1;
							end = start + 2;

							if (end > data[0].count_pre_noti) {
								end = data[0].count_pre_noti;
							}

							var str = '';
							for (var i = start - 1; i < end; i++) {
								let row = data[i];

								if (row.pre_noti_id == 1) {

									str +=
										`
		                <div class="dropdown-item d-flex justify-content-between delete" style="cursor: pointer;" > 
							<div class="check" name="${row.pre_noti_id}" data-noti-id="${row.noti_id}">                                                                                              
								<div class="font-weight-bold">${row.send_id}&nbsp;</div>                                   
								<div class="font-weight-bold" style="font-size:15px;">${row.noti_nm}&nbsp;${row.noti_id}</div>           
								<span class="small text-gray-500">${row.noti_send_dt}</span>                              
								<div class="font-weight-bold">${row.noti_dtl}</div>
							</div>
							<div style="margin-top: 10px">
			                    <a href="javascript:void(0);">
			                    	<i class="fas fa-trash-alt del_btn" style="color:rgb(128, 128, 128); font-size: 20px;"></i>
			                    </a>
		                    </div>                                                                                               
						</div>                                                                                             
		                `;
									count++;

								}
								if (count == data[0].count_pre_noti) {
									$(".load").remove();
									//console.log(event.target);
									//$("#unReadList").after('<div id="noMore" style="text-align: center; margin: 10px;">더이상 불러올 알림이 없습니다.<div>');
									break;

								}
							}
							$("#unReadList").append(str);
							$(".load").appendTo("#unReadList");
						})
					},
					error: function (status, error) {
						console.log(status);
					}
				});
			});

		$(document).on("click", ".check", function () {
			
			event.stopPropagation();

			var noti_id = $(this).data("noti-id");
			chkNotification(noti_id);
			$(this).children().removeClass("font-weight-bold");

		});

		$(document).on("click", ".del_btn", function () {
			
			event.stopPropagation();

			if (event.target.tagName != 'I') {
				return;
			}

			var noti_id = $(this).parents(".delete").children().first().data("noti-id");
			chkNotification(noti_id);
			$(this).parents(".delete").remove();

			$.ajax({
				url: contextPath + "/changeDelStatus",
				type: 'post',
				contentType: "application/json",
				data: JSON.stringify({noti_id: noti_id}),
				success: function (data) {

				},
				error: function (status, error) {
					console.log(status);
				}
			})
			
		});
		
		$(".closenoti").on('click', function() {
			$('#dropdownContent').toggleClass('dropdownContent');
		})
		
		});
	</script>
</th:block>

</html>