<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/login.css" >
<link rel="stylesheet" href="#" >
</head>
<body>
  <div class="wrap">

    <div class="titleBox">
      <a href="#"><img src="../img/20.png" alt="로고"></a>
    </div>

    <form action="findIDForm" method="post">

      <input class="inputText" type="text" placeholder="이름"></input>

      <input class="inputText" type="text" placeholder="연락처"></input>

      <div class="warning">
        일치하는 아이디가 없습니다.<br/>

      </div>

      <div>
        이름님의 아이디는 _____ 입니다.
      </div>


    </form>

    <div class="changeWrap">
      <button type="button" class="joinBtn">확인</button>
    </div>


  </div>

</body>
</html>