<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/login.css" >
</head>
<body>
  <div class="wrap">

    <div class="titleBox">
      <a href="#"><img src="../img/20.png" alt="로고"></a>
    </div>

    <form action="mail" method="post">

      <input type="text" class="inputText address" name="address" placeholder="아이디를 입력하세요">
      <button type ="button" class="submitBtn btn random" >전송</button>
        <input type="hidden" class="title" name="title" value="SMTS 인증번호 메일입니다." readonly > <br>
        <input type="hidden" class="message" name="message" value="333333" >
    </form>

      <input  type="text" class="inputText message2" name="message2" placeholder="인증번호">
      <button type="button" class="checkBtn btn">확인</button>

      <div class="warning">

      </div>
		
      <div>
		  <form action="changePW" method="post">
			<input class="inputText hidden1" type="hidden" name="user_pw" placeholder="● 재설정 비밀번호">
			<input class="inputText hidden2" type="hidden" name="user_pw2" placeholder="● 비밀번호 확인">
			<input type="hidden" class="email" name="user_email" value="">
    <div class="changeWrap">
      <input type="hidden" class="changeBtn hidden3" value="비밀번호 재설정하기">
    </div>
		  </form>
      </div>

    </form>



  </div>

</body>


	<script>
	
	const random = document.querySelector(".random");
	const message2 = document.querySelector(".message2");
	const address = document.querySelector(".address");
	const title = document.querySelector(".title");
	const message = document.querySelector(".message");
	const checkBtn = document.querySelector(".checkBtn");
	const warning = document.querySelector(".warning");
	const email = document.querySelector(".email");
	
	
	const hidden1 = document.querySelector(".hidden1");
	const hidden2 = document.querySelector(".hidden2");
	const hidden3 = document.querySelector(".hidden3");
	
	
	const changeBtn = document.querySelector(".changeBtn")
	
	//난수 받아오기
	random.addEventListener('click', async function(){

	await fetch("http://localhost:8181/random")

    	.then((response) => {
  	  		 return response.json();
  		 })

    	.then((result) => {
   			   console.log(result);
		   	   message.value = result;
   		 });
   		 
   		 
	const data = {
 		 address: address.value,
  		 title: "SMTS 인증번호 메일입니다.",
  		 message: message.value,
	};


	await fetch("http://localhost:8181/mail", {
	  method: "POST",
	 headers: {
      "Content-Type": "application/json",
    },
	  body: JSON.stringify(data),
	})
	.then((response) => {
		if(response.ok){
			alert('인증메일을 보냈습니다.');
		} 
		console.log(data);
	})
})

	checkBtn.addEventListener('click', function(){
		
		if(message.value === message2.value){
			hidden1.type="password";
			hidden2.type="password";
			hidden3.type="button";
			warning.innerHTML="";
			email.value = address.value;
		} else {
			warning.innerHTML="인증번호가 일치하지 않습니다.";
		}
		
		
	})
	
	hidden2.addEventListener('focusout', function(){
		if(hidden1.value === hidden2.value){
			
		} else{
			hidden1.value = '';
			hidden2.value = '';
			hidden1.focus();
		}
	})
	
	
	changeBtn.addEventListener('click', function(){
		if(hidden1.value === hidden2.value){
			hidden3.type="submit";
		} else{
			hidden1.value = '';
			hidden2.value = '';
			hidden1.focus();
		}
			
	})
   	
	

</script>	

</html>