<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="../css/login.css">
</head>

<body>
	<div class="wrap">

		<div class="titleBox">
			<a href="#"><img src="../img/20.png" alt="로고"></a>
		</div>

		<form action="joinEngineerForm" method="post">

			<input class="inputText2 inputText2Top email" type="text" name="user_email" placeholder="● 이메일">
			<input class="inputText2 pw" type="password" name="user_pw" placeholder="● 비밀번호">
			<input class="inputText2 pw2 inputText2Bottom" type="password" name="user_pw" placeholder="● 비밀번호 확인">
			<div class="warning">
				[[${valid_user_nm}]]<br />
				[[${valid_user_email}]]<br />
				[[${valid_user_pw}]]<br />
			</div>
			<input class="inputText2 inputText2Top" type="text" name="user_nm" placeholder="● 이름">
			<input class="inputText2 inputText2Bottom" type="text" name="user_role" value="ROLE_ENGINEER" readonly>
			<input type="hidden" name="user_id" value="미정">
			<input type="hidden" name="user_auth_yn" value="y">
			<input type="hidden" name="user_group" value="null">



			<button type="submit" class="joinBtn">가입하기</button>

		</form>

	</div>

</body>

<!-- input태그 포커스 아웃시 널이면 빨간색, 아니면 초록색 -->
<script>
	var inputs = document.querySelectorAll('input');

	for (var i = 0; i < inputs.length; i++) {
		inputs[i].addEventListener('focusout', function () {
			if (this.value === '') {
				this.style.border = "1px solid red";
			}

			else this.style.border = '1px solid rgb(0,128,0)';
		});
	}

	const email = document.querySelector(".email");
	const pw = document.querySelector(".pw");
	const pw2 = document.querySelector(".pw2");
	const warning = document.querySelector(".warning");

	pw2.addEventListener('focusout', function () {

		if (pw.value === this.value) {
			this.style.border = "1px solid rgb(0,128,0)";
			warning.innerHTML = "";
		}
		else {
			pw.style.border = "1px solid red";
			this.style.border = "1px solid red";
			pw.value = '';
			this.value = '';
			warning.innerHTML = "비밀번호가 일치하지 않습니다.";
			pw.focus();
		}

	})

	const regex = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');

	email.addEventListener('focusout', function () {

		if (regex.test(email.value)) {
			warning.innerHTML = "";
		} else {
			warning.innerHTML = "이메일 형식에 맞지 않습니다.";
			email.focus();
			email.style.border = "1px solid red";
			email.value = "";
		}


	})



</script>

</html>