<html xmlns:th="http://www.thymeleaf.org">


<link rel="stylesheet" th:href="@{/css/customer_mypage.css}" />
<link rel="stylesheet" th:href="@{/css/modal.css}">
<link rel="stylesheet" th:href="@{/css/mypage.css}">


<th:block th:replace="~{./include/layout_customer :: setContent(~{:: .wrap})}">
	<div class="wrap">
		<div class="col-lg-12 subtop_wrap">
			<div class="col-lg-8 subtop">
				<h1 class="page_header">마이페이지
					<div class="sub_text"></div>
				</h1>
			</div>
		</div>
		<!-- Section-->
		<section class="px-0 wrap">

			<input class="form-control" type="text" readonly>



			<div class="card text-left" style="width: 81rem; flex-direction: row; 	box-shadow:0px 8px 16px  #020f37;">
				<div class="card" style="width: 25rem; margin-left: 20px;">
					<th:block th:if="${session.userVO.org_file_nm} != null">
						<img class="img-profile rounded-circle profile"
							th:src="@{'https://demo-jun-hee2.s3.ap-northeast-2.amazonaws.com/' + ${session.userVO.org_file_nm}}"
							target="_self">
					</th:block>

					<th:block th:unless="${session.userVO.org_file_nm} != null">
						<img class="img-profile rounded-circle profile" th:src="@{/img/undraw_profile.svg}"
							target="_self">
					</th:block>
					<h5 style="margin:0 auto; background-color:#ddd; width:100%; text-align: center; font-size: 35px;">
						나의 프로필</h5>
				</div>

				<div class="card-body" style="padding-top: 21px; font-size: 30px;">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-size:35px;">내정보</h3>
						</div>
						<ul>

							<li class="list-group-item">
								<span class="pull-right">[[${session.userVO.user_nm}]]</span>이름
							</li>
							<li class="list-group-item">
								<span class="pull-right">[[${session.userVO.user_email}]]</span>이메일(아이디)
							</li>
							<li class="list-group-item">
								<span class="pull-right">[[${session.userVO.user_group}]]</span>고객사
							</li>
							<li class="list-group-item">
								<span class="pull-right">[[${session.userVO.user_adr}]]</span>주소
							</li>
							<li class="list-group-item">
								<th:block th:if="${session.userVO.user_role} == ROLE_CUSTOMER">
									<span class="pull-right">고객사</span>권한
								</th:block>
							</li>
					</div>

					</ul>
					<div style="margin-top: 10px; margin-left: 443px;">
						<button type="button" class="btn btn-primary"
							style="background-color: #020f37; border: 1px solid #020f37"
							onclick="openModal4();">회원정보수정</button>
						<a class="btn btn-primary" style="background-color: #020f37; border: 1px solid #020f37"
							th:href="@{/project/serverList}">서버목록</a>
						<a class="btn btn-primary" style="background-color: #020f37; border: 1px solid #020f37"
							onclick="myLeave()">탈퇴</a>
						<a class="btn btn-primary" style="background-color: #020f37; border: 1px solid #020f37"
							th:href="@{/user/logout}">로그아웃</a>
					</div>
				</div>
			</div>

		</section>

		<div class="modal4" tabindex="0">
			<div class="modal4-content">
				<a class="btn-close3" href="#none" onclick="closeModal4();">X</a>
				<div class="mail-check">
					<form action="updateForm" method="post">
						<div style="margin: 20px;">
							<div style="margin-bottom: 10px;">
								개인정보 수정
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">이메일</span>
								</div>
								<input type="text" class="form-control" name="user_email"
									th:value="${session.userVO.user_email}" readonly>
							</div>

							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<div class="file_box">
										<div class="file_name" name="org_file_nm" data-value=""><img class="profileImg"
												src="../img/profile.png" target="_self"
												style="width: 100%; border-radius: 10px; opacity: 0.5;"></div>
									</div>
								</div>
								<input type="text" class="form-control" id="org_file_nm"
									style="width: 20%; border:none; margin-top: 30px;" name="org_file_nm" value="">
							</div>
							<input class="form-control selectFile" style="margin-bottom: 16px;" type="file">

							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">비밀번호 수정</span>
								</div>
								<input type="password" class="form-control user_pw" name="user_pw" value="">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">비밀번호 확인</span>
								</div>
								<input type="password" class="form-control user_pw2" name="user_pw2" value="">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">고객사</span>
								</div>
								<input type="text" class="form-control" name="user_group" value="">
							</div>

						</div>

						<button type="submit" class="Btn btn-primary"
							style="background-color: #020f37; border: 1px solid #020f37">수정하기</button>
					</form>
				</div>
			</div>
		</div>
</th:block>
<script src="/js/modal.js"></script>
<script src="/js/mypage.js"></script>



</html>