* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic Coding', cursive;
}

body {
  background-color: rgb(250, 250, 251);
}

ul, li {
  list-style: none;
}

#container {
	width: 55%;
	margin: 0 auto;
	
}

.contentAreaBox {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.contentArea {
  background-color: white;
  border: 1px solid rgb(230, 235, 241);
}


.detailFormArea {
  padding: 20px 40px;
}

.upperDetailFormArea {
  overflow: hidden;
}

.detailFormAreaLeft {
  float: left;
}

.detailFormAreaRight {
  float: right;
  width: 150px;
  text-align: right;
}

.topArea {
  padding: 20px;
  border-bottom: 1px solid rgb(230, 235, 241);
}

.shortFormArea {
  padding: 20px 40px;
  border-bottom: 1px solid rgb(230, 235, 241);
}

.server_id {
  display: block;
  width: 150px;
}


.shortFormArea p {
  font-size: 13px;
}

.shortFormArea li {
  padding: 10px 0;
}

.shortFormArea ul {
  padding: 0;
}

.shortFormArea li:last-child div{
  display: inline-block;
  margin-right: 30px;
}

.pjt_nm { 
  width: 100%;
}

.pjt_dtl {
  width: 100%;
  height: 500px;
  padding: 10px;
}

.shortFormArea {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.fileThumbnailZone {
  padding: 10px;
  width: 100%;
  
}

.fileThumbnailZone li {
	overflow: hidden;
	width: 100%;
}

.fileThumbnailZone li p {
	width: 80%;
	float: left;
}

.fileThumbnailZone li button {
	float: right;
}

.submitBtn {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
}

.submitBtn:hover {
  background-color: lightgray;
}
