* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 251);
}

ul, li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}


#container {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgb(230, 235, 241);
  margin-top: 20px;
}

.searchArea {
  padding-bottom: 20px;
  margin-bottom: 20px; 
  border-bottom: 1px solid rgb(230, 235, 241);
}

.searchArea .searchBar {
  position: relative;
  overflow: hidden;
}

.searchBarLeft input {
  width: 400px;
  height: 30px;
}

.checkRequest {
	border: 1px solid black;
	padding: 10px;
}

.checkRequest:hover {
	cursor: pointer;
}

.filterArea.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

.filterArea {
  max-height: 300px;
  transition: max-height 0.7s ease;
}

.upperSearchBar {
  position: relative;
  width: 100%;
}

.lowerSearchBar {
  padding-top: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.lowerSearchBar > div {
  height: 40px;
}

/*.lowerSearchBar > div > p,a {*/
/*  line-height: 35px;*/
/*}*/



.searchArea .searchBar .searchBarLeft {
  padding-left: 20px;
  float: left;
}


.searchArea .searchBar .upperSearchBar a {
  position: absolute;
  left: 170px;
  top: -3px;
  line-height: 30px;
}

.searchArea .searchBar .searchBarRight {
  padding-right: 20px;
  float: right;
}

.toggleFilter {
  margin: 0;
 
}

.lowerSearchBarLeft * {
	display: inline-block;
	 margin-right: 20px;
	border: 1px solid black;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.toggleFilter:hover {
	cursor: pointer;
	background-color: azure;
}

.resetBtn:hover {
	background-color: rgb(247, 235, 237);
	cursor: pointer;
}

.searchArea .searchBar .searchBarLeft .toggleFilter:hover {
  cursor: pointer;
}

.searchFilterArea {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}



.projectArea {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectBoxContainer {
  padding-left: 20px;
  padding-top: 20px;
  width: 30%;
}

.projectBox {
  border: 1px solid rgb(230, 235, 241);
  border-radius: 20px;
  background-color: white;
  /* box-shadow: rgba(154, 194, 205, 0.592) 0px 5px 22px, rgba(168, 206, 209, 0.512) 0px 0px 5px 5px; */
}

.projectBox:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 5px 5px;
}



.projectBox .upperBox {
  overflow: hidden;
  height: 20%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0 0;
  background-color: lightblue;
}

.projectName, .typeOfServer {
  padding: 20px 0;
  margin: 0;
}



.projectBox .upperBox .companyName {
  float: left;
}

.projectBox .lowerBox {
  padding: 10px;
  height: 80%;
}

.lowerBox p { 
  padding: 10px 5px;
}


.projectBox .upperBox .typeOfServer {
  float: right;
}

.projectBox .lowerBox div {
  overflow: hidden;
}

.projectBox .lowerBox .lowerBoxLeft {
  float: left;
  max-width: 50%;
}

.projectBox .lowerBox .lowerBoxRight {
  float: right;
}

.projectBox .lowerBox .projectPeriod {
  text-align: center;
}

.submitBtn {
  width: 50px;
  height: 30px;
  background-color: white;
  border: 1px solid rgb(98, 100, 104);
  
}

.projectListTable {
	width: 100%;
}


.projectListTable tr > th:first-child,projectListTable tr > td:first-child {
	width: 15%;
}


.projectCreateBtn {
}

.projectCreateBtn:hover {
	color: red;
	cursor: pointer;
}








